.screen-container {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1em; 
}

.screen-up {
    flex: 1;
    font-size: 1.5rem;
}

.screen-down {
    flex: 1;
}