* {
    margin: 0;
    padding: 0;
  }
  
  article {
    width: 60%;
    margin: auto;
  }
  
  .cart-box img {
    width: 60px;
    height: 80px;
  }

  .cart-img {
    display: flex;
    align-items: center;
    width: 400px;
  }
  
  .cart-img p {
    font-weight: 600;
    margin-left: 10px;
  }
  
  .cart-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px solid #232F3E;
    padding-bottom: 5px;
  }
  
  .cart-box div:nth-child(2) button {
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .cart-box div:nth-child(3) button {
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    outline: none;
    color: white;
    background-color: #C45500;
    border-radius: 5px;
    cursor: pointer;
  }
  .cart-box div:nth-child(3) button:hover {
    background-color: #439FC5;
  }
  .cart-box div:nth-child(3) span {
    color: #B12704;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
  }
  
  .total span:nth-child(1) {
    font-size: 2rem;
    color: #439FC5;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  .total span:nth-child(2) {
    font-size: 2rem;
    color: #B12704;
    font-weight: bold;
  }